.nav-bar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22.5px 2.5%;
  color: #fff;
}

.nav-bar .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-bar .nav-links li:last-child {
  padding-right: 0;
}
